* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: block;
    padding: 16px 0;
    background-color: rgb(9, 26, 114);
    color: white;
    /*font-family: 'DynaPuff', cursive;*/
    font-family: 'Raleway', sans-serif;

}

.container {
    display: block;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-left: 64px;
    margin-top: 16px;   
    font-size: 20px;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    
}

form button {
    margin-top: 8px;
    font-size: 16px;
    font-family: 'DynaPuff', cursive;   

}

.form-cliente{
    margin-top: 16px;
    margin-left: 32px;
    display: block;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:rgb(9, 26, 114);
}

.form-cliente form{
    width: '50%';
}
section {
    display: block;
    width: 90%;
    height: 123px;
    margin: 0 auto;
}

@media screen and(max-width: 768px){
    
}

form{
    max-width: 300px;
}

.form-campo label{
    display: block;
    font-weight: bold;
    max-width: 360px;
}

.form-campo input, textarea{
    width:100%;
    padding: 8px;
    display: block;
}

.form-campo textarea{
    resize: none;
}

#button-conosco{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    background-color:rgb(9, 26, 114);
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 10px;
    max-width: 100px;
}

#button-conosco button:hover{
    background-color:  greenyellow;
}